/* importing new */
@import "@kfonts/neodgm/index.css";

/* Tailwind */
@import "tailwindcss";

@theme {
  --font-sans: "Neo둥근모", "NeoDunggeunmo", sans-serif;
  --font-mono: font-family: 'Neo둥근모 Code', 'NeoDunggeunmo Code', monospace;
}
